<div class="d-flex align-items-center justify-content-center mt-20">
  <div class= "content text-center">  
    <div class="content mt-20 text-center">

      <h2> Sign in</h2>
    {% include 'components/message.html' %}

        <form
        hx-post="{% url 'account_login' %}"
        hx-target= "#app"
        >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" 
            class='btn mt-5'> Sign In </button>
        </form>


        <span 
            hx-get="{% url 'account_signup' %}" 
            hx-target="#app"
            hx-trigger="click"
            class= "hyperlink-underline"
            hx-push-url="/signup/"
            >
            Sign up
        </span>.

    </div>     
  </div>
</div>
