
<div class="card" style="margin-left: -0.25px; margin-top: 0px; margin-right: -0.25px;height: 500px; background-image: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);" id="app">
 <div class= "content text-center mt-4">
    <h1 class="text-white" style="font-size:50px;"> Django Htmx SPA </h1> 
    <p class="text-white"> Keep track of what needs to be done! </p>
  </div>
  <div class="text-center"> 
    <a href="#" class="btn">Read more</a>
  </div>
</div>

