<nav class="navbar">
  <a href="/" class="navbar-brand">
    IFBCIWO
  </a>
  <ul class="navbar-nav d-none d-md-flex">
    <li class="nav-item active">
      <a href="{% url 'home'%}" class="nav-link">Home</a>
    </li>
    {% if user.is_authenticated %}
    <span 
      hx-get="{% url 'account_logout' %}" 
      hx-trigger="click"
      hx-target= "#app"
      class= "hyperlink-underline nav-link"
      hx-push-url="/logout/"
      >
      Logout
    </span>
    {% else %}
    <span 
      hx-get="{% url 'account_signup' %}" 
      hx-target="#app"
      hx-trigger="click"
      class= "hyperlink-underline nav-link"
      hx-push-url="/authentication/"
      >
      Authentication
    </span>
    <span
      hx-get="{% url 'about' %}" 
      hx-target="#app"
      hx-trigger="click"
      class= "hyperlink-underline nav-link"
      hx-push-url="/about/"
      >
      About
    </span>
    {% endif %}
  </ul>
  <button class="btn btn-action mr-5" type="button" onclick="halfmoon.toggleDarkMode()" aria-label="Toggle dark mode">
    <i class="fa fa-moon-o" aria-hidden="true"></i>
  </button>

  <!-- Navbar content (with the dropdown menu) -->
  <div class="navbar-content d-md-none ml-auto"> <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
    <div class="dropdown with-arrow">
      <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
        Menu
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1"> <!-- w-200 = width: 20rem (200px) -->
        <a href="/" class="dropdown-item">Home</a>
        <div class="dropdown-divider"></div>
          {% if user.is_authenticated %}
            <span 
              hx-get="{% url 'account_logout' %}" 
              hx-trigger="click"
              hx-target= "#app"
              class= "hyperlink-underline nav-link"
              hx-push-url="/logout/"
              >
              Logout
            </span>
          {% else %}
            <span 
              hx-get="{% url 'account_signup' %}" 
              hx-target="#app"
              hx-trigger="click"
              class= "hyperlink-underline nav-link"
              hx-push-url="/authentication/"
              >
              Authentication
            </span>
            <span
              hx-get="{% url 'about' %}" 
              hx-target="#app"
              hx-trigger="click"
              class= "hyperlink-underline nav-link"
              hx-push-url="/about/"
              >
              About
            </span>
          {% endif %}
      </div>
    </div>
  </div>
</nav>
